<% if user_signed_in? %>
<div class="container-fluid">
<div class="row" style="padding-top: 5px;">
		<div class="col-md-10">
    <span>
						<h3><%= image_tag ("logo002.jpg"), height:50  %>
			      <b id="nombreTienda" style="text-indent: 1cm;"> Papelería Sin Nombre </b>
						<br>
            <b id="welcome" style="text-indent: 1cm;">Bienvenido  <%= current_user.email %>  </b>
						</h3>
		</span>

		</div>
		<div class="col-md-2">
			<h3>
         <div id="profile">
				 	<%= link_to root_path  do %>
					 <%= fa_icon "cog",   class: "iconos_test" %>
					 <% end %>
				 	<%= link_to root_path  do %>
					 <%= fa_icon "question",   class: "iconos_test" %>
				 	<% end %>
					<%= link_to destroy_user_session_path, method: :delete do %>
  			 		<%= fa_icon "sign-out",   class: "iconos_test" %>
					<% end %>
          </div>
			</h3>
		</div>
	</div>


	<div class="row">
	<div class="col-md-3">
	  <ul class="nav flex-column">
			<li class="nav-item">
			<% if current_page?(controller: :home, action: :index) then %>
				<%= link_to "Inicio", root_path, class: "nav-link active" %>
			<% else %>
				<%= link_to "Inicio", root_path, class: "nav-link" %>
			<% end %>
			</li>
			<li class="nav-item">
				<%= link_to "Vender", new_sale_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Historial de ventas", sales_path, class: "nav-link" %>
		  </li>
		  <li class="nav-item">
			<% if (params[:controller] == 'products' || params[:controller] == 'product_types' || params[:controller] == 'product_statuses') && %w(index new edit show).include?(params[:action]) then %>
				<%= link_to "Productos", products_path, class: "nav-link active" %>
			<% else %>
				<%= link_to "Productos", products_path, class: "nav-link" %>
			<% end %>
			</li>
			<li class="nav-item">
				<%= link_to "Inventario", inventory_items_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Clientes", employees_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Empleados", employees_path, class: "nav-link" %>
			</li>
			<li class="nav-item">
				<%= link_to "Sucursales", shops_path, class: "nav-link" %>
			</li>
		</ul>
	</div>
	<% unless (params[:controller] == 'sales' ) && %w( edit ).include?(params[:action]) then %>
	 	<div class="col-md-9">
	 		<ul class="nav">
				<% if (params[:controller] == 'products' || params[:controller] == 'product_types' || params[:controller] == 'product_statuses') && %w(index new edit show).include?(params[:action]) then %>
						<li class="nav-item">
							<%= link_to "Lista", products_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Nuevo producto", new_product_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Tipos de producto", product_types_path, class: "nav-link" %>
						</li>
						<li class="nav-item">
							<%= link_to "Estados de producto", product_statuses_path, class: "nav-link" %>
						</li>
				<% end %>
	 		</ul>
	<% else %>
		<div class="col-md-3">
	<% end %>
<% end %>
