<%= form_with(model: inventory_item, local: true) do |form| %>
  <% if inventory_item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(inventory_item.errors.count, "error") %> prohibited this inventory_item from being saved:</h2>

      <ul>
        <% inventory_item.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% options = [['Seleccione',0]] %>
  <% Shop.all.each do |option| %>
    <% options.push([option.name,option.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :shop_id %>
    <%= form.select( :shop_id , options_for_select(options, @inventory_item.shop_id)) %>
  </div>

  <% options = [['Seleccione',0]] %>
  <% Product.all.each do |option| %>
    <% options.push([option.name,option.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :product_id %>
    <%= form.select( :product_id , options_for_select(options, @inventory_item.product_id))  %>
  </div>

  <% options = [['Seleccione',0]] %>
  <% ProductStatus.all.each do |option| #ProductStatus.all.each do |option| %>
    <% options.push([option.name,option.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :product_status_id %>
    <%= form.select(:product_status_id, options_for_select(options, @inventory_item.product_status_id))  %>
  </div>

  <% options = [['Seleccione',0]] %>
  <% Employee.all.each do |option| %>
    <% options.push([option.name+" "+option.last_name_1,option.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :employee_id %>
    <%= form.select(:employee_id, options_for_select(options, @inventory_item.employee_id)) %>
  </div>

  <div class="field">
    <%= form.label :original_cost %>
    <%= form.text_field :original_cost, :readonly => true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
