<%= form_with(model: player, local: true, id: "edit-form") do |form| %>
  <% if player.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(player.errors.count, "error") %> prohibited this player from being saved:</h2>

      <ul>
        <% player.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :linked_to_steroids %>
    <%= form.check_box :linked_to_steroids %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
