<%= form_with(model: product, local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li style="font-color: white;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :unit %>
    <%= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, in:0.000..999999.999, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight, in:0.000..999999.999, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :price_unit %>
    <%= form.number_field :price_unit, in:0.00..999999.99, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :profit %>
    <%= form.number_field :profit %>
  </div>

  <div class="field">
    <%= form.label :price_2 %>
    <%= form.number_field :price_2, in:0.00..999999.99, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :price_3 %>
    <%= form.number_field :price_3, in:0.00..999999.99, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :price_4 %>
    <%= form.number_field :price_4, in:0.00..999999.99, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :price_5 %>
    <%= form.number_field :price_5, in:0.00..999999.99, step: 0.01 %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.text_field :sku %>
  </div>

  <% options = [['Seleccione',0]] %>
  <% ProductType.all.each do |product| %>
    <% options.push([product.name,product.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :product_type_id %>
    <%= form.select(:product_type_id, options_for_select(options, @product.product_type_id))  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
