<%= form_with(model: product, id: "new-product-form",  local: true) do |form| %>
  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
        <% product.errors.full_messages.each do |message| %>
          <li style="font-color: white;"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <% options = [['Seleccione',0]] %>
  <% ProductType.all.each do |product| %>
    <% options.push([product.name,product.id]) %>
  <% end %>

  <div class="field">
    <%= form.label :product_type_id %>
    <%= form.select(:product_type_id, options_for_select(options, @product.product_type_id), {}, {:onChange=> "" })  %>
  </div>

  <% options = [['Seleccione',0]] %>

  <div class="field">
    <%= form.label :product_subtype_id, id: "product_subtype_label" %>
    <% if @product.product_type_id == 0 || @product.product_type_id == nil then %>
        <%= form.select(:product_subtype_id, options_for_select(options, 0 ), {}, {
            :onChange=> "",
            disabled: true
         })    %>
    <% else %>
        <%= form.select(:product_subtype_id, options_for_select(options, @product.product_subtype_id ), {}, {
            :onChange=> ""
         })    %>
    <% end %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :unit, id: "product_unit_label", style: "#{'visibility:hidden' if @product.product_type_id == 0 || @product.product_type_id == nil}" %>
    <%= form.text_field :unit,  style: "#{'visibility:hidden' if @product.product_type_id == 0 || @product.product_type_id == nil}" %>
    <%#= form.label :unit, id: "product_unit_label" %>
    <%#= form.text_field :unit %>
  </div>

  <div class="field">
    <%= form.label :quantity %>
    <%= form.number_field :quantity %>
  </div>

  <div class="field">
    <%= form.label :weight %>
    <%= form.number_field :weight %>
  </div>

  <div class="field">
    <%= form.label :price_unit %>
    <%= form.number_field :price_unit %>
  </div>

  <div class="field">
    <%= form.label :profit %>
    <%= form.number_field :profit %>
  </div>

  <div class="field">
    <%= form.label :price_2 %>
    <%= form.number_field :price_2 %>
  </div>

  <div class="field">
    <%= form.label :price_3 %>
    <%= form.number_field :price_3 %>
  </div>

  <div class="field">
    <%= form.label :price_4 %>
    <%= form.number_field :price_4 %>
  </div>

  <div class="field">
    <%= form.label :price_5 %>
    <%= form.number_field :price_5 %>
  </div>

  <div class="field">
    <%= form.label :brand %>
    <%= form.text_field :brand %>
  </div>

  <div class="field">
    <%= form.label :sku %>
    <%= form.number_field :sku %>
  </div>

  <div class="actions">
    <%= form.submit class: "button button-avg" %>
    <%= link_to "Reset", new_product_path, class: "button button-avg", remote: true %>
  </div>
<% end %>

<%= javascript_include_tag "product_options" %>
