<p id="notice"><%= notice %></p>

<h1>Products <%= link_to 'Inflar precio 5', products_inflate_path, class: "button button-avg" %></h1> 

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Unit</th>
      <th>Weight</th>
      <th>Price unit</th>
      <th>Profit</th>
      <th>Price 2</th>
      <th>Price 3</th>
      <th>Price 4</th>
      <th>Price 5</th>
      <th>Brand</th>
      <th>Sku</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.product_type.name %></td>
        <td><%= product.quantity %></td>
        <td><%= product.unit %></td>
        <td><%= product.weight.to_s + "gr" %></td>
        <td><%= product.price_unit %></td>
        <td><%= product.profit %></td>
        <td><%= product.price_2 %></td>
        <td><%= product.price_3 %></td>
        <td><%= product.price_4 %></td>
        <td><%= product.price_5 %></td>
        <td><%= product.brand %></td>
        <td><%= product.sku %></td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Product', new_product_path, class: "button button-avg" %>
