<%= form_with(model: payment_detail, local: true, url: "/payment_details/create") do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= form.label :payment %>
      <%= form.text_field :payment %>
    </div>

  <div class="actions">
    <%= form.submit "Concretar Venta", class: "button button-concretar" %>
  </div>

<% end %>
