<%= form_with(model: payment_detail, local: true) do |form| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
        <% sale.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :discount %>
    <%= form.select(:discount, options_for_select([['Precio normal',1], ['Precio 2',2], ['Precio 3',3], ['Precio 4',4], ['Precio 5',5]],1))  %>
  </div>

  <div class="actions">
    <%= form.submit "Concretar Venta", class: "button button-concretar" %>
  </div>

<% end %>


<div class="grid-container">
  <div class="item1">

      <div>
        <label>Número de producto :</label>
        <input id="idProducto" type="number" onKeyup="mostrarBuffer(this.value)" onchange="mostrarBuffer(this.value)">
      </div>
      <ul >
      <li id="buffer" style="padding-left:0px;"></li>
      </ul>

  </div>
  <div class="item2">
    <label>Cantidad :</label>
    <input id="cantProducto" type="number" size="2" min="0" max="99" value="1">
  </div>
  <div class="item3">

      <label>Descuento por artículo :</label>
      <select name="descInd" id="descInd">
        <option value="0">Precio normal</option>
        <option value="1">Precio 2</option>
        <option value="2">Precio 3</option>
        <option value="3">Precio 4</option>
        <option value="4">Precio 5</option>
      </select>

  </div>
  <div class="item4">
    <br><br>
  </div>
  <div class="item5">
    <br><br>
  </div>
  <div class="item6">
    <div id="areaPago">
    <div><label>Pago :<br>$ </label><input id="cantPago" type="number" min="0" placeholder="0.00" onkeyup="sumarPago(this.value)"></div>
    </div>
  </div>
  <div class="item7">
    <label>Método de pago:</label>
    <select id="metodoPago">
    <option value="0">Seleccione un método de pago
    <option value="'.$row['id'].'">'.$row['metodos']
    </select>
  </div>
  <div class="item8">
    <div><button class="button button-concretar" name="concretar" type="button" value="Concretar venta" onclick="concretarVenta()">Concretar venta</button></div>
    <div><button class="button button-cancelar" type="button" onclick="borrarCola()"> Cancelar      venta </button></div>
  </div>
  <div class="item9">
    <div id="btnBusqueda">Sino conoces el número de producto ingresa su nombre en el menu a continuación, luego selecciónalo de la lista.</div>
  </div>
  <div class="item10"id="seccBusqueda">
    <label>Nombre del producto :  </label><input id="nombreProducto" type="text" onKeyup="busquedaPorNombre(this.value)">
  </div>
  <div class="item11">
    <ul id="resBusqueda">
    </ul>
  </div>
  <div class="item12">
    <input type="hidden" id="hmembresia" value="">
  </div>
</div>
